.window {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 360px;
  height: 580px;
  background: #ffffff;
  border-radius: 30px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  color: #ffffff;
  height: 120px;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
ul {
  margin: 5px 0;
  padding: 5px;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #cecece;
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
}

.anwser:hover {
  background: #cecece;
}
.answer.correct {
  background: #48c572;
}
.answer.incorrect {
  background: #fc5757;
}
